/*This code is (C)2013 Fred Teumer */

::-webkit-scrollbar { 
    display: none; 
}

* {
	padding: 0px;
	margin: 0px;
    font-family: Helvetica !important;
}

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow-x: hidden;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

header {
	padding: 0px;
	margin: 0px;
	height: 50px;
	font-family: Helvetica;
	font-weight: bolder;
	color: black;
	background-color: #000000; /*#3c2b21;*/
	position: relative;
}

header span {
    height: 100%;
    position: relative;
}

#content {
    min-height: inherit !important;
    margin: 0px 10px;
    padding: 0;
}

.column {
    padding: 10px 10px;
    background-color: #ffffff;
    margin: 0px 10px 20px 10px;
    overflow-y: scroll;
}

/* begin my code */

#tllogo {
    display: inline;
    right: 25%;
    position: absolute;
}

#tllogo img{
    width: 180px;
    border-style: solid;
    border-width: 5px;
    border-color: #f4f3ea;
    /*box-shadow: 3px 3px #CCC;*/
}

#sublogo {

}

#sublogo img{
	display: block;
	width: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

.button {
	background-color: #000000;
	display: block;
	padding-top: .8em;
	height: 2.3em;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.8em;
	font-weight: 600;
}

.button:hover {
	text-decoration: none;
	background-color: #303030;
	cursor:pointer;
}

.buttonTxt {
	line-height: 2.3em;
}

.tiny {
	font-style: italic;
	font-size: 9px;
}

#fzip {
	width: 3.0em;
}

#fdesc {
	/*width: 18em;
	height: 5em;*/
}

#fphone {
	width: 6.0em;
}

#frent{
	width: 2.5em;
}

#frem {
	width: 4.5em;
}

.ftwo {
	width: 1.8em;
}

.ffour {
	width: 2.6em;
}

.listing{
	border: 3px black solid;
	border-radius: 5px;
	padding: 2%;
	margin-bottom: 7px;
	position: relative;
	height: 75px;
}

.listing:hover {
	border: 3px #4d71e9 solid;
	cursor: pointer;
}

.listtitle{
	vertical-align: middle;
	display: inline;
	position: absolute;
}

.rentsmall{
	position: absolute;
	display: inline;
	font-size: 16px;
	bottom: 55%;
	left: 75%;
}

.citysmall{
	display:inline;
	position: absolute;
	font-size: 12px;
	font-style: italic;
	top: 70%;
}

.datesmall{
	display: inline;
	position: absolute;
	font-size: 10px;
	left: 75%;
	bottom: 5%;
	font-style: italic;
}

#popupBody{
	position: relative;
}

.rentlarge{
	font-size: 18px;
	position: absolute;
	display: inline;
	left: 75%;
	bottom: 80%;
	width: 65%;
}

.datefull{
	font-size: 10px;
	font-style: italic;
	position: absolute;
	display: inline;
	left: 75%;
	top: 10%;
}

.descreg{
	font-size: 12px;
	display: block;
	position: absolute;
	left:30%;
	top:25%;
}

.cityreg{
	display: inline;
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	left: 30%;
}

.namereg{
	display: block;
	position: absolute;
	top: 75%;
	font-size: 12px;
}

.emailreg{
	display: block;
	position: absolute;
	top: 75%;
	font-size: 12px;
	left: 40%;
}

.phonereg{
	display: block;
	position: absolute;
	font-size: 12px;
	top: 75%;
	left: 85%;
}

.pic{
	display: block;
	width:100px;
	height:100px;
	top: 1%;
	left: 1%;
	padding-bottom: 100px;
}

.imlink{
	cursor: pointer;
}

/*end my code*/

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) { /* Phones */
    html , body {
        overflow-y: auto;
    }

    body {
	   padding: 0px;
	   margin: 0px;
	   height: 100%;
	   background-color: #FFFFFF;
    }
    
    #content {
       padding: 0px;
	   margin: 0px;
    }
    
    .contentBox {
        color: #3c2b21;
        margin-bottom: 10px;
    }

    .column {
        background-color: #ffffff;
        margin: 0px 10px 20px 10px;
        /*box-shadow: 3px 3px #CCC;*/
        height: auto;
    }
}

@media (max-width: 480px) { 

}


@media (max-width: 979px) {

}

@media (min-width: 980px) {

}
